@font-face {

    font-family: "Lato-Regular";
    src: url("../Fonte/Lato-Regular.ttf") format("truetype");

}
@font-face {

    font-family: "Lato-light";
    src: url("../Fonte/Lato-Light.ttf") format("truetype");


}
body{
    background: white;
    margin: 0;
    font-family: "Lato-light";

}


header{
    position: fixed;
    width: 100%;
    z-index: 2;
    font-size: 17px;
    margin: 0;
    color: #a8a8a8;    
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
    background: white;
    font-weight: bolder
}
.corpolista{
    width: 800px;
    margin: 0 auto;
    padding: 30px 5px;
    background: white;
    padding-bottom: 50px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    margin-left: -400px;

}
.lista{
    width: 700px;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}
.lista:hover{
    cursor: pointer;
    border: 1px solid #384661;

}

.lista .excluir{
    height: 30px;
    position: absolute;
    top: 0;
    margin-top: 10px
}
.lista .excluir img{
    height: 30px;

}
.lista .alterar{
    height: 30px;
    position: absolute;
    top: 45px;
}
.lista .alterar img{
    height: 30px;

}
.lista .nome{
    width: 400px;
    margin-left: 50px;
    font-size: 18px;
    padding: 5px 0;
    color: #212121;
    font-weight: bolder
}
.lista .cpf{
    width: 400px;
    margin-left: 50px;
    font-size: 14px;
    color: #a8a8a8
}
.lista .EMAIL{
    width: 400px;
    margin-left: 50px;
    font-size: 14px;
    color: #a8a8a8
}
.lista .imagem{
    height: 60px;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 8px
}
.lista .imagem img{
    height: 60px;
}
.lista .diagnostico{
    height: 65px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-left: 10px solid #384661;
    position: relative;

}
#formDiagnostico{
    width: 40px;
    height: 65px;
    position: absolute;
    right: 25px;
    overflow: hidden
}
#formDiagnostico #arquivoc{
    width: 40px;
    height: 68px;
    position: absolute;
    top: -25px;
    background-image: url("../img/copy-icon-4774.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 10px;
    outline-color: white;
    cursor: pointer
}
#formDiagnostico #botaosubmit{
    position: absolute;
    bottom: 7px;
    font-size: 10px;
    border: none;
    background: none;
    font-family: "Lato-light";
    font-weight: bolder;
    color: #a8a8a8;
    transition: transform 0.3s linear;
    outline-color: white
}
#formDiagnostico #botaosubmit:hover{
    transform: scale(1.07)
}











.corpodiagnostico{
    width: 350px;
    margin: 0 auto;
    height: 65px;
    overflow: hidden

}


.corpodiagnostico .tipoarquivo{
    text-align: center;
    font-size: 25px;
    letter-spacing: -2px;
    height: 50px;
    float: left;
    color: #a8a8a8;
    padding: 0 5px;
    border-right: 1px solid #eee;
    margin-top: 7.5px;
    line-height: 50px;
    background: white;
    text-transform: uppercase;
    font-weight: bolder
}
.corpodiagnostico .nomearquivo{
    text-align: center;
    font-size: 12px;
    height: 50px;
    width: 200px;
    color: #a8a8a8;
    line-height: 50px;
    background: white;
    margin-top: 7.5px;
    float: left;

}
.corpodiagnostico .enviararquivo{
    text-align: center;
    font-size: 12px;
    height: 50px;
    width: 250px;
    color: #a8a8a8;
    line-height: 50px;
    background: white;
    margin-top: 7.5px;
    float: left;

}
.corpodiagnostico .cadastrararquivo{
    height: 50px;
    width: 250px;
    color: #a8a8a8;
    background: white;
    margin-top: 7.5px;
    float: left;
    position: relative;
    overflow: hidden
}

#formcadastroDiagnostico input{
    font-family: "Lato-Light";
    margin: 0;
    position: absolute;
    width: 500px;
    height: 50px;
    padding-top: 25px;
    left: -67px;
    outline-color: white;
    z-index: 3
}
#formcadastroDiagnostico .copbririnput{
    margin: 0;
    position: absolute;
    width: 500px;
    height: 50px;
    left: -56px;
    width: 105px;
    background: white;
    background-image: url("../img/ftp.png");
    background-position: right center;
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position-x: 60px;
    z-index: 4
}
#formcadastroDiagnostico label{
    height: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 25px;
}

.corpodiagnostico .upload{
    text-align: center;
    font-size: 14px;
    height: 50px;
    color: white;
    float: left;
    width: 50px;
    transition: transform 0.2s ease-out;
    margin-top: 7.5px;
    border: none;
    background: none;
    background-image: url("../img/save.png");
    background-size: 35px auto;
    background-position: center;
    background-repeat: no-repeat;
    outline-color: white
}

.diagnostico .up:hover{
    transform: scale(1.07);
}
.corpodiagnostico .download{
    text-align: center;
    font-size: 14px;
    height: 50px;
    color: white;
    float: left;
    width: 50px;
    transition: transform 0.2s ease-out;
    margin-top: 7.5px;
}
.diagnostico .download img{
    margin-top: 7.5px;
    width: 35px;

}
.diagnostico .download:hover{
    transform: scale(1.07);
}
.diagnostico .upload:hover{
    transform: scale(1.07);
}

.arquivodelete{
    position: absolute;
    right: 70px;
    width: 20px;    
    height: 20px;
    top: 22.5px;
    transition: transform 0.2s ease-out;
}
.arquivodelete:hover{
    transform: scale(1.07);

}
.arquivodelete img{
    width: 20px;    
    height: auto;
}







.mensagemnadaencontrado{
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 80px;
    margin-top: 150px;
    background: #384661;
    border: none;
    color: white;
    border: 1px solid #eee;
    transition: 0.3s ease-in-out;
    font-family: "Lato-light";


}
.mensagemnadaencontrado:hover{

}
.mensagemnadaencontrado a{
    font-family: "Lato-light";
    text-decoration: none;
    color: white

}

#listaraluno{
    height: 70px;
    overflow: hidden;
    transition: height 0.3s linear;
}
#listaraluno:hover{
    height: 140px;
}